body{
    background-color: rgb(38, 9, 65);
    background-image: url(./images/bg-desktop.png);
    background-position-y: bottom ;
    background-repeat:  repeat-x;
}
.box1{
    width: 20%;
    background: hsl(228, 56%, 26%);
    border-radius: 5px 60px 5px 5px;
    padding: 25px 0 25px 25px;
}
.cantiner{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icons{
    margin-top: 20px;
}
.icon{
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    width: 20px;
    padding: 15px;
    margin-right: 6px;
    border-radius: 10px;


}
.box2{
    background-color: hsl(228, 56%, 26%);
    height: 124px;
    width: 600px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    

}
.progress-bar{
    width: 90%;
    height: 20px;
    border-radius: 20px;
    background: rgb(38, 9, 65);
    margin-left: 40px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.progress{
    height: 15px;
    margin: 3px ;
    border-radius: 10px;
    width: 70%;
    background-image: linear-gradient(50deg , #FC6DAB , #C04CFD);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.btn{
    height: 12px;
    width: 12px;
    background: #f9f9f9;
    margin-right: 1px;
    border-radius: 10px;
    box-shadow: #f9f9f9 0px 1px 2px ;

}
.box2 p{
    color: #f9f9f9;
    margin: 20px 0 0 40px;
    padding-top: 14px;
}
.gega{
    display: flex;
    justify-content: space-between;
    bottom: 25px;
    position: relative;
    margin-inline-end: 20px;
    margin-inline-start: 0px;
}
.cari{
    background-color: antiquewhite;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 180px;
    left: 400PX;
}
.triengle{
    position: relative;
    bottom: 185px;
    left: 530PX;
    border-top: 30px solid antiquewhite;
    border-left: 20px solid transparent;
    width: 0px;
    height: 0px;
}
h5{
    display: block;
    margin-block-start: 22px;
    margin-inline-end: 19px;
    margin-inline-end: 16px;
    margin-inline-start: 0px;


}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
